[submodule "TiViewShadow"]
	path = TiViewShadow
	url = git@github.com:ManuByteworks/TiViewShadow.git
[submodule "TitaniumTableviewCellsExtended"]
	path = TitaniumTableviewCellsExtended
	url = git@github.com:ManuByteworks/TitaniumTableviewCellsExtended.git
